<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-copy">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a></div>
        <div class="footer-design-author"><span>Developed By</span> <i class="i-favorite heart"></i> by <a href="//linkites.com" target="_blank" title="Amit Mishra">Linkites Infotech</a></div>
    </div>
</footer>
